<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vraag en Aanbod</title>
		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/app.css">
		<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    	<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
		<script type="module" src="./map.js"></script>
		<style>
			#map {
				height: 400px;
				width: 100%;
			}
			.marker {
				cursor: pointer;
			}
			.hidden {
				display: none;
			}
			.marker.selected svg {
 				filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
			}
			.form-group {
				display: flex;
				flex-direction: column;
			}
			.form-group label {
				margin-bottom: 5px;
			}
			.form-group textarea {
				resize: vertical; /* Allow vertical resize */
			}
		</style>
	</head>
	<body>
		<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username %></li>
					<li class="user"><%= user.id %></li>
					<li>
						<form action="./logout" method="post">
							<button class="logout" type="submit">Sign out</button>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						</form>
					</li>
				</ul>
			</nav>
			<header class="header">
				<h1>Vraag en Aanbod</h1>
				<div class="map" id="map" data-points='<%- JSON.stringify(vraagaanbod) %>'></div>
				<div>Klik op de kaart om een nieuw locatie voor vraag of aanbod toe te voegen</div>
				<div>Klik op een marker om een vraag of aanbod aan te passen of te verwijderen</div>
				<div>
					<form action="./" method="post" id="markerform" class="hidden">
						<input type="hidden" name="id" id="id" value="-1">
						<input type="radio" id="vraag" name="issupply" value="0">
						<label for="vraag">Vraag</label><br>
						<input type="radio" id="aanbod" name="issupply" value="1">
						<label for="aanbod">Aanbod</label><br>
						<label for="title">Titel</label>
						<input type="text" title name="title" id="title" placeholder="Titel"><br>
						<div class="form-group">
							<label for="description">Beschrijving</label>
							<textarea name="description" id="description" placeholder="Beschrijving"></textarea>
						</div>
						<input type="button" name="delete" id="delete" value="Verwijderen">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</div>
			</header>
		</section>
		<footer class="info">
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
